{% extends 'base.html.twig' %} {% block title %}Mon Panier{% endblock %} {%
block content %}
<div class="container">
  <div class="paint">
    <h3 class="mt-5">Mon Panier</h3>

    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
  </div>
  {% if cart| length > 0 %}
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col"></th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% set total = null %} {% for product in cart %}

      <tr>
        <td class="dimension">
          <img
            src="/uploads/{{ product.product.photo }}"
            alt="{{ product.product.name }}"
            class=""
          />
          <br />
        </td>
        
        <td class="text-center">
          <span>{{ product.product.name }}</span> <br />
          <small class="voir">{{ product.product.description }}</small>
        </td>
        
        <td class="ps-4">
          <a href="{{ path('decrease_to_cart', { id: product.product.id }) }}">
            <img
              src="{{ asset('assets/img/flaticons/moins-grand-symbole.png') }}"
              height="12px"
              alt="Retirer un produit"
          /></a>
          {{ product.quantity }}
          <a href="{{ path('add_to_cart', { id: product.product.id }) }}"
            ><img
              src="{{ asset('assets/img/flaticons/plus.png') }}"
              height="12px"
              alt="Ajouter un produit"
          /></a>
        </td>

        <td class="petit">{{ (product.product.price / 100)| number_format(2, ',', '.') }} €</td>
        <td class="petit">
          {{ ((product.product.price / 100) * product.quantity)| number_format(2, ',', '.') }} €
        </td>
        <td>
          {% set total = total + ((product.product.price / 100) *
          product.quantity) %}
        </td>
        <td>
          <a href="{{ path('delete_to_cart', { id: product.product.id }) }}">
            <img
              src="{{ asset('assets/img/flaticons/poubelle.png') }}"
              height="18px"
              alt="Supprimer mon produit"
          /></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="text-end mb-4">
    <b>Nombre de références : </b> {{ cart | length }} <br />
    <b>Total de mon panier : </b> {{ (total)| number_format(2, ',', '.') }} €
  </div>
  <div class="text-center">
    <a href="{{ path('app_order') }}" class="btn btn-outline-success mt-3"
      >Valider mon panier</a
    >
  </div>

  {% else %}

  <p class="my-5"><b>Votre panier est vide</b></p>
  {% endif %}
  <div class="text-center my-3">
    <a
      href="{{ path('app_products') }}"
      class="link-underline link-underline-opacity-0 link-body-emphasis link-opacity-75-hover"
      >Continuer mes achats</a
    >
  </div>
</div>
{%endblock %}
