{% extends 'base.html.twig' %} {% block title %}Mon Panier{% endblock %} {%
block content %}
<div class="container">
  <div class="paint">
    <h3 class="mt-4">Mon Panier</h3>

    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
  </div>
  {% if cart| length > 0 %}
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col"></th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% set total = null %} {% for product in cart %}

      <tr>
        <td>
          <img
            src="{{ asset('assets/img/articles/{{product.photo1}}') }}"
            alt="{{ product.product.name }}"
            class="h-75"
          />
          <br />
        </td>
        <td>
          {{ product.product.name }} <br />
          <small>{{ product.product.description }}</small>
        </td>
        <td>
          <a href="{{ path('decrease_to_cart', { id: product.product.id }) }}">
            <img
              src="{{ asset('assets/img/flaticons/moins-grand-symbole.png') }}"
              height="12px"
              alt="Retirer un produit"
          /></a>
          {{ product.quantity }}
          <a href="{{ path('add_to_cart', { id: product.product.id }) }}"
            ><img
              src="{{ asset('assets/img/flaticons/plus.png') }}"
              height="12px"
              alt="Ajouter un produit"
          /></a>
        </td>

        <td>{{ (product.product.price / 100)| number_format(2, ',', '.') }}</td>
        <td>
          {{ ((product.product.price / 100) * product.quantity)| number_format(2, ',', '.') }}
        </td>
        <td>
          {% set total = total + ((product.product.price / 100) *
          product.quantity) %}
        </td>
        <td>
          <a href="{{ path('delete_to_cart', { id: product.product.id }) }}">
            <img
              src="{{ asset('assets/img/flaticons/poubelle.png') }}"
              height="18px"
              alt="Supprimer mon produit"
          /></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="text-center mb-5">
    <b>Nombre de produits : </b> {{ cart | length }} <br />
    <b>Total de mon panier : </b> {{ (total)| number_format(2, ',', '.') }}
    <br />
    <a href="{{ path('app_order') }}" class="btn btn-outline-success mt-3"
      >Valider mon panier</a
    >
  </div>
</div>
{% else %}
<hr />
<p><b>Votre panier est vide</b></p>
{% endif %} 
<a href="{{ path('app_products')}}">Continuer mes achats</a>
{%endblock %}
