{% extends 'base.html.twig' %} {% block title %}Compte{% endblock %} {% block
content %}
<section class="container hauteur">
  <div class="card">
    <div class="text-center light">
      <h1>Mon compte</h1>
      <p>
        Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} sur votre
        compte.
      </p>
    </div>
    <div class="container">
      <ul>
        <li class="mt-3">
          <a
            href="{{ path('app_account_password') }}"
            class="link-underline link-underline-opacity-0 link-body-emphasis link-opacity-75-hover"
            >Modifier mon mot de passe</a
          >
        </li>

        <li class="my-3">
          <a
            href="{{ path('app_account_adresses') }}"
            class="link-underline link-underline-opacity-0 link-body-emphasis link-opacity-75-hover"
            >Gérer mes adresses</a
          >
        </li>

        <!-- <li><a href="{{path('app_order_recap')}}">Mes commandes</a></li> -->
      </ul>

      {% if 'ROLE_ADMIN' in app.user.roles %}

      <a
        href="{{ path('app_admin') }}"
        class="btn btn-sm btn-outline-success d-block col-lg-6 mx-auto"
        >Vous êtes administrateur, aller au backoffice ?</a
      >

      {% endif %} {% if app.user %}
      <div class="my-3 text-center">
        <a
          href="{{ path('app_logout') }}"
          class="link-underline link-underline-opacity-0 link-body-emphasis link-opacity-75-hover"
          >Vous êtes connectés en tant que {{ app.user.firstname }}
          {{ app.user.lastname }}, se déconnecter
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
