{% extends 'base.html.twig' %} {% block title %}Produits{% endblock %} {%block
body %}
<div class="container py-3">
  <div class="row">
    {% for product in products %}

    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow-sm">
        <a href="{{ path('app_product', { id: product.id }) }}">
          <img
            src="{{ asset('assets/img/articles/' ~ product.photo1) }}"
            alt="{{ product.alt1 }}"
            class="w-100"
          />
        </a>

        <div class="card-body">
          <h2 class="card-title fs-5">{{ product.name }}</h2>
          <p class="card-text d-flex flex-column align-items-lg-center">
            {{ product.description }}
            <span>{{ product.unitprice }}</span>
          </p>
          <!-- <div class="col-lg-6 col-12 mb-3">
            <input type="submit" value="get started" class="btn btn-primary rounded-1 col-lg-5 col-11 py-1"
                name="submit" id="submit">
          </div> -->
          <a href="{{ path('add_to_cart', { id: product.id }) }}" class="btn border border-1" type="submit"><i class="bi bi-cart2"></i><span class="ps-2 fst-normal">Ajouter au panier</span></a>

        </div>
        
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
