{% extends 'base.html.twig' %} {% block title %}Produit{% endblock %} {% block
body %}

<div class="container">
  <div class="text-center">
    <img
      src="{{ asset('assets/img/articles/' ~ product.photo1) }}"
      alt="{{ product.alt1 }}"
      class="img-fluid pt-5 w-75"
    />
  </div>
  <div
    class="py-3 d-flex w-100 flex-column justify-content-center align-items-center"
  >
    <h3>{{ product.name }}</h3>
    <p>Description : {{ product.description }}</p>
    <p>Prix : {{ product.unitprice }} €</p>
    <div>
      <div>
        <a href="/" class="btn btn-sm btn-outline-success"
          >Retour à l'accueil</a
        >
        <a href="/add_product" class="btn btn-sm btn-outline-primary"
          >Ajouter un produit</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
