{% extends 'base.html.twig' %} {% block title %}Produit{% endblock %} {% block
body %}

<div class="container">
  <div class="row my-5">
    <div class="col-md-5">
      <img
        src="{{ asset('assets/img/articles/' ~ product.photo1) }}"
        alt="{{ product.alt1 }}"
        class="img-fluid"
      />
    </div>
    <div class="col-md-7 my-auto">
      <h3>{{ product.name }}</h3>
      <span>{{ product.unitprice| number_format(2, ',', '.') }} €</span>
      <hr />
      <p>{{ product.description }}</p>
      <a
        href="{{ path('add_to_cart', { id: product.id }) }}"
        class="btn btn-outline-success"
        >Ajouter au panier</a
      >
    </div>
  </div>
</div>
{% endblock %}
