<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}"
      ><img
        src="{{ asset('assets/img/logo/linashome_short.svg') }}"
        alt="Logo"
        width="150px"
      />
    </a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse ms-4" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 fs-5">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ path('app_products') }}"
            >Nos produits</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ path('app_home') }}"
            >Qui sommes-nous</a
          >
        </li> -->
        <li>
          <div class="contact ms-2 mt-2">
            <button class="border border-0" onclick="afficherInfosContact()">Contact
            </button>
            <p id="infosContact" style="display: none" class="fs-5">
              E-mail : contact@example.com<br />
              Téléphone : +1 234 567 890
            </p>
          </div>
        </li>
      </ul>
      <div class="navbar-item-custom fs-5">
        {% if app.user %}
        <a href="{{ path('app_account') }}" class="bi bi-person me-3 text-dark link-underline link-underline-opacity-0"
          >Mon compte <small>{{ app.user.firstname }}</small></a
        >

        <a
          href="{{ path('app_logout') }}"
          class="text-dark link-offset-2 link-underline link-underline-opacity-0"
          >Déconnexion</a
        >
        {% else %}
        <a
          href="{{ path('app_login') }}"
          class="text-dark link-offset-2 link-underline link-underline-opacity-0 me-3"
          >Connexion</a
        >

        <a
          href="{{ path('app_register') }}"
          class="text-dark link-offset-2 link-underline link-underline-opacity-0"
          >Inscription</a
        >
        {% endif %}
      </div>

      <div class="ms-5">
        <a
          href="{{ path('app_cart') }}"
          class="nav-link text-dark d-flex d-block"
          ><i class="bi bi-cart2 fs-3 me-2"></i
        ></a>
      </div>

      {#
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Votre recherche"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
      #} {#
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Votre recherche"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
      #}
    </div>
  </div>
</nav>

<!-- ------------------------------ -->

<!-- <nav class="navbar container">
  <div class="d-flex row">
    <div class="col-lg-3">
      <a href="app_home">
        <img
          class="logo"
          src="{{ asset('assets/img/logo/logo_detoure.png') }}"
        />
      </a>
    </div>

    <div class="nav-links mobile-menu">
      <ul class="col-lg-9">
        <li class="active">
          <a href="">
            <i class="bi bi-search"></i>
            <form class="d-flex" role="search">
              <input
                class="form-control"
                type="search"
                placeholder="Rechercher..."
                aria-label="Search"
              />
            </form>
          </a>
        </li>
        <li>
          <a href=""
            ><i class="bi bi-heart fs-4"></i><span>Liste d'envie</span></a
          >
        </li>
        <li>
          <a href=""><i class="bi bi-person fs-2"></i><span>Compte</span></a>
        </li>
        <li>
          <a href=""><i class="bi bi-cart2 fs-3"></i><span>Panier</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-more mobile-menu">
    <ul>
      <li class="active"><a href="#">Pièces</a></li>
      <li><a href="#">Produits</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <div>
    <i class="bi bi-list burger d-none"></i>
  </div>
</nav> -->

<!-- LOGO -->

<!-- <nav class="nav flex-column container">
  <div class="d-flex justify-content-between">
    <div class="col-lg-3 pt-2">
      <a href="{{ path('app_home') }}">
        <img
          class="logo"
          src="{{ asset('assets/img/logo/linashome_short.svg') }}"
        />
      </a>
    </div> -->

<!-- Fin Logo -->

<!-- <div class="col-lg-5">
      
      <a href="#" class="nav-link text-dark mt-3"
        ><i class="bi bi-search position-absolute fs-4"></i>
        <form class="d-flex" role="search">
          <input
            class="form-control"
            type="search"
            placeholder="Rechercher..."
            aria-label="Search"
          /></form
      ></a>
    </div> -->

<!-- <ul class="col-lg-4 nav-links d-flex justify-content-between pt-4"> -->
<!-- <li>
        <a href="{{ path('app_wishlist') }}" class="nav-link text-dark d-flex "
          ><i class="bi bi-heart fs-4 me-2"></i
          ><span class="text-nowrap">Liste d'envie</span></a
        >
      </li> -->
<!-- <li>
        <a href="{{ path('app_account') }}" class="nav-link text-dark d-flex"
          ><i class="bi bi-person fs-2 me-2"></i><span>Compte</span></a
        >
      </li>
      <li>
        <a href="{{ path('app_cart') }}" class="nav-link text-dark d-flex"
          ><i class="bi bi-cart2 fs-3 me-2"></i><span>Panier</span></a
        >
      </li>
    </ul> -->
<!-- </div> -->

<!-- <ul class="nav-more d-flex ps-0 fs-5"> -->
<!-- <li class="active"><a href="#" class="nav-link text-dark">Pièces</a></li> -->
<!-- <li>
      <a href="{{ path('app_products') }}" class="nav-link text-dark ms-5"
        >Produits</a
      >
    </li>
    <li>
      <a href="{{ path('app_contact') }}" class="nav-link text-dark ms-5"
        >Contactez-nous</a
      >
    </li> -->
<!-- <li>
      <a href="{{ path('app_about') }}" class="nav-link text-dark ms-5"
        >À propos</a
      >
    </li> -->
<!-- </ul> -->
<!-- </nav> -->
