{% extends 'base.html.twig' %} {% block title %}Paiement de ma commande{%
endblock %} {% block content %}
<div class="container hauteur-commande mb-5">
  <h2>Mon récapitulatif</h2>
  <p>Vérifiez vos informations avant de payer votre commande</p>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong>Mon adresse de livraison</strong> <br />

      <div class="form-check mt-4">{{ delivery | raw }} <br /></div>

      <hr />

      <strong>Mon transporteur</strong> <br />
      <div class="form-check">
        {{ carrier.name }} <br />
        {{ carrier.description }} <br />
        {{ carrier.price| number_format(2, ',', '.')}} €
      </div>
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <b>Ma commande</b>
      </div>
      <div class="order-summary">
        {% set total = null %} {% for key,product in cart %}
        <div class="row {% if key > 0 %}mt-2{% endif %}">
          <div class="col-2">
            <img
              src="/uploads/{{ product.product.photo }}"
              alt="{{ product.product.alt }}"
              class="h-75"
            />
          </div>
          <div class="col-8 my-auto">
            {{ product.product.name }} <br />
            <small
              >{{ product.product.description }}
              <br />
              x {{ product.quantity }}
            </small>
          </div>
          <div class="col-2 my-auto">
            {{ ((product.product.price /100) * product.quantity)| number_format(2, ',', '.')}}
            €
          </div>
        </div>
        {% set total = total + ((product.product.price /100) * product.quantity)
        %} {% endfor %}
      </div>

      <!-- {{dump(carrier)}} -->
      <hr />

      <strong>Sous-Total : </strong> {{ (total)| number_format(2, ',', '.') }} €
      <br />
      <strong>Livraison : </strong>
      {{ (carrier.price)| number_format(2, ',', '.') }} €
      <hr />
      <div class="total">
        <strong>Total : </strong>
        {{ (total + carrier.price)| number_format(2, ',', '.') }} €
      </div>

      <a href="" class="btn btn-success btn-block mt-3 payer"
        >Payer | {{ (total + carrier.price)| number_format(2, ',', '.') }} €</a
      >
    </div>
  </div>
</div>
{% endblock %}
